h1{
    color:red;
}
h2{
    color: orange;
}
a{
    color: rgb(11, 18, 201);
}
p{
    color: rgb(164, 14, 139);
}
html{
    background-color: rgba(132, 132, 171, 0.526);
}
img{
    width: 200px;
    margin-left: 70px ;
}
.big_text{
    font-size: 1.5rem;
}
ul{
    list-style-type: square; /* Квадратные маркеры */
}
a:hover{
    color:rgb(198, 27, 132);
    outline: detted green;
}